.user{
    text-align: right;
    color: red;
}

.chatPartner{
    color: green;
    text-align: left;
}

.private{
    color: black;
    text-align: center;
}

.userjoke{
	color: orange;
	font-size: 40pt;
	font-family:"Comic Sans MS", cursive, sans-serif;
}